@model ODS.Entities.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "form-login" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.UserId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
}